 * {
     margin: 0;
     padding: 0;
 }

 /**/

 #container {
     width: 100%;
     height: 100%;
     display: flex;
     flex-wrap: wrap;
 }

#round-head {
    width: 100%;
    background: rgba(40,116,166,1);
    background: -moz-linear-gradient(left, rgba(40,116,166,1) 19%, rgba(44,129,186,1) 47%, rgba(48,139,200,1) 67%, rgba(52,152,218,1) 93%, rgba(52,152,219,1) 94%);
    background: -webkit-gradient(left top, right top, color-stop(19%, rgba(40,116,166,1)), color-stop(47%, rgba(44,129,186,1)), color-stop(67%, rgba(48,139,200,1)), color-stop(93%, rgba(52,152,218,1)), color-stop(94%, rgba(52,152,219,1)));
    background: -webkit-linear-gradient(left, rgba(40,116,166,1) 19%, rgba(44,129,186,1) 47%, rgba(48,139,200,1) 67%, rgba(52,152,218,1) 93%, rgba(52,152,219,1) 94%);
    background: -o-linear-gradient(left, rgba(40,116,166,1) 19%, rgba(44,129,186,1) 47%, rgba(48,139,200,1) 67%, rgba(52,152,218,1) 93%, rgba(52,152,219,1) 94%);
    background: -ms-linear-gradient(left, rgba(40,116,166,1) 19%, rgba(44,129,186,1) 47%, rgba(48,139,200,1) 67%, rgba(52,152,218,1) 93%, rgba(52,152,219,1) 94%);
    background: linear-gradient(to right, rgba(40,116,166,1) 19%, rgba(44,129,186,1) 47%, rgba(48,139,200,1) 67%, rgba(52,152,218,1) 93%, rgba(52,152,219,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2874a6', endColorstr='#3498db', GradientType=1 );
    border-radius: 0 0 0 106px;
}


/*Posts*/

.posts {
    top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-short, .post-short-head {
    padding: 20px;
    border-radius: 20px;
    background-color: #F8FAFB;
    margin: 30px;
    width: 40vw;
    -webkit-box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
    -moz-box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
    box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
}

.post-short-head {
    justify-content: center;
    margin: 15px;
    box-shadow: 6px 6px 22px -1px rgba(86,92,94,0.75);
    -webkit-box-shadow: 6px 6px 22px -1px rgba(86,92,94,0.75);
    -moz-box-shadow: 6px 6px 22px -1px rgba(86,92,94,0.75);
}
/*Content*/

#content {
    position: relative;
    top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .post-short, .post-short-head {
        padding: 20px;
        border-radius: 20px;
        background-color: #F8FAFB;
        width: 72%;
        -webkit-box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
        -moz-box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
        box-shadow: -11px 16px 38px -20px rgba(86,92,94,1);
    }

}